<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Play Rummikub</title>
    <script type="text/javascript">
        window.onload = function () {
            var game = document.getElementById("game");
            var ctx = game.getContext("2d");
            const { width, height } = game;
            const pieceWidth = 40;
            const pieceHeight = 50;
            const piecePadding = 5;
            const pieceBorderWidth = 2;
            const tileWidth = pieceWidth + (2 * pieceBorderWidth);
            const tileHeight = pieceHeight + (2 * pieceBorderWidth);
            const fullTextHeight = 18;
            const halfTextHeight = fullTextHeight / 2;
            class Bounds {
                constructor(x, y, width, height) {
                    this.x = x;
                    this.y = y;
                    this.width = width;
                    this.height = height;
                }
                isInBounds(x, y) {
                    return x >= this.x && x <= this.x + this.width && y >= this.y && y <= this.y + this.height
                }
                setOrigin(x, y) {
                    this.x = x;
                    this.y = y;
                }
                setDimensions(width, height) {
                    this.width = width;
                    this.height = height;
                }
            }
            class Tile extends Bounds {
                constructor(x, y, value, color) {
                    super(x, y, tileWidth, tileHeight);
                    this.value = value ?? "☺";
                    this.color = color ?? "black";
                    this.background = "white";
                }
                click(x, y) {
                    if (this.isInBounds(x, y)) {
                        mouse.click(this);
                    }
                }
                setBackground(color) {
                    this.background = color;
                }
                draw() {
                    ctx.fillStyle = "black";
                    ctx.fillRect(this.x, this.y, pieceWidth + (2 * pieceBorderWidth), pieceHeight + (2 * pieceBorderWidth));
                    ctx.fillStyle = this.background;
                    ctx.fillRect(this.x + pieceBorderWidth, this.y + pieceBorderWidth, pieceWidth, pieceHeight);
                    ctx.fillStyle = this.color;
                    ctx.font = "18px Arial";
                    var xOffsetText = this.x + pieceBorderWidth + (pieceWidth / 2) - piecePadding;
                    if (isNaN(+this.value) || +this.value >= 10) {
                        xOffsetText -= piecePadding;
                    }
                    ctx.fillText(this.value, xOffsetText, this.y + pieceBorderWidth + (pieceHeight / 2) + piecePadding);
                }
            }
            class Set extends Bounds {
                constructor(x, y, children = []) {
                    super(x, y, 0, 0);
                    this.setChildren(children);
                }
                setChildren(children = []) {
                    this.children = children;
                    var width = 0;
                    var height = 0;
                    var xOffset = this.x;
                    for (const child of this.children) {
                        child.setOrigin(xOffset, this.y);
                        xOffset += child.width - pieceBorderWidth;
                        width = child.x + child.width;
                        height = child.height;
                    }
                    this.setDimensions(width, height);
                }
                setOrigin(x, y) {
                    const differenceX = x - this.x;
                    const differenceY = y - this.y;
                    this.x = x;
                    this.y = y;
                    for (const child of this.children) {
                        child.setOrigin(child.x + differenceX, child.y + differenceY);
                    }
                }
                click(x, y) {
                    if (this.isInBounds(x, y)) {
                        for (const child of this.children) {
                            child.click(x, y);
                        }
                        mouse.click(this);
                    }
                }
                draw() {
                    for (const child of this.children) {
                        child.draw();
                    }
                }
            }
            class Board extends Bounds {
                constructor(x, y, width, height) {
                    super(x, y, width, height);
                    this.children = [];
                }
                setDimensions(width, height) {
                    this.width = width;
                    this.height = height;
                    this.setChildren(this.children);
                }
                setChildren(children = []) {
                    this.children = children;
                    var xOffset = this.x;
                    var yOffset = this.y + fullTextHeight + halfTextHeight + piecePadding;
                    for (const child of this.children) {
                        if (xOffset + child.width > width) {
                            xOffset = this.x;
                            yOffset += child.height + piecePadding;
                        }
                        child.setOrigin(xOffset, yOffset);
                        xOffset += child.width + piecePadding;
                    }
                }
                click(x, y) {
                    if (this.isInBounds(x, y)) {
                        for (const child of this.children) {
                            child.click(x, y);
                        }
                    }
                }
                draw() {
                    writeText(this.x + piecePadding, this.y + piecePadding + fullTextHeight, "Board");
                    for (const child of this.children) {
                        child.draw();
                    }
                }
            }
            class Rack extends Bounds {
                constructor(x, y, width, height) {
                    super(x, y, width, height);
                    this.children = [];
                }
                setChildren(pieces = []) {
                    this.children = pieces;
                    this.setOrigin(this.x, this.y);
                }
                setOrigin(x, y) {
                    this.x = x;
                    this.y = y;
                    var xOffset = this.x;
                    var yOffset = this.y + piecePadding + halfTextHeight;
                    for (const tile of this.children) {
                        tile.setOrigin(xOffset, yOffset);
                        xOffset += tile.width + piecePadding;
                        if (xOffset + tile.width > this.width) {
                            xOffset = this.x;
                            yOffset += tile.height + piecePadding;
                        }
                    }
                }
                click(x, y) {
                    if (this.isInBounds(x, y)) {
                        for (const child of this.children) {
                            child.click(x, y);
                        }
                    }
                }
                draw() {
                    writeText(this.x + piecePadding, this.y + piecePadding, "Rack");
                    for (const child of this.children) {
                        child.draw();
                    }
                }
            }
            class Mouse {
                constructor() {
                    this.current = { x: 0, y: 0 };
                    this.mouseDown = { x: 0, y: 0 };
                    this.mouseUp = { x: 0, y: 0 };
                    this.selected = [];
                    this.clicked = null;
                    this.set = null;
                }

                click(element) {
                    if (element === null) {
                        this.clicked = null;
                        this.set = null;
                    }
                    if (element instanceof Tile) {
                        this.clicked = element;
                        return;
                    }
                    if (element instanceof Set) {
                        this.set = element;
                        return;
                    }
                }
            }
            var conn;
            const rack = new Rack(0, height - piecePadding - halfTextHeight, width, piecePadding + halfTextHeight);
            const board = new Board(0, 0, width, height - rack.height);
            const mouse = new Mouse();
            var msg = document.getElementById("msg");
            var log = document.getElementById("log");

            function appendLog(item) {
                var doScroll = log.scrollTop > log.scrollHeight - log.clientHeight - 1;
                log.appendChild(item);
                if (doScroll) {
                    log.scrollTop = log.scrollHeight - log.clientHeight;
                }
            }

            function writeText(x, y, text) {
                ctx.fillStyle = "black";
                ctx.font = "18px Arial";
                ctx.fillText(text, x, y);
            }

            function drawBackground(x, y, width, height) {
                ctx.fillStyle = "white";
                ctx.fillRect(x, y, width, height);
            }

            function drawGame() {
                drawBackground(0, 0, width, height);
                rack.draw();
                board.draw();
            }

            function updateRack(newRack) {
                rack.setChildren(newRack.map(piece => (new Tile(0, 0, piece["value"], piece["color"]))));
                var numberOfRackRows = Math.floor((rack.children.length * (tileWidth + piecePadding)) / width) + 1;
                var rackHeight = (numberOfRackRows * (tileHeight + piecePadding)) + piecePadding + halfTextHeight;
                var rackY = height - rackHeight;
                if (rackY !== rack.y) {
                    rack.setOrigin(0, rackY);
                    board.setDimensions(width, height - rackY);
                }
            }

            function updateBoard(newBoard, newPieces) {
                var updateBoard = newBoard.map(set => (new Set(0, 0, set["pieces"].map(piece => (new Tile(0, 0, piece["value"], piece["color"]))))));
                updateBoard = [...updateBoard, ...newPieces.map(piece => (new Tile(0, 0, piece["value"], piece["color"])))];
                board.setChildren(updateBoard);
            }

            document.getElementById("form").onsubmit = function () {
                if (!conn) {
                    return false;
                }
                if (!msg.value) {
                    return false;
                }
                conn.send(msg.value);
                msg.value = "";
                return false;
            };

            function mouseCoordinates(event) {
                const { clientX, clientY } = event;
                const rect = game.getBoundingClientRect();
                return { x: (clientX - rect.left) * width / game.clientWidth, y: (clientY - rect.top) * height / game.clientHeight }
            }

            game.onmousedown = function (event) {
                mouse.mouseDown = mouseCoordinates(event);
                for (const element of [board, rack]) {
                    element.click(mouse.mouseDown.x, mouse.mouseDown.y);
                }
                if (mouse.clicked == null) {
                    for (const tile of mouse.selected) {
                        tile.setBackground("white");
                        tile.draw();
                    }
                    mouse.selected = [];
                } else {
                    const removedClicked = mouse.selected.findIndex(value => (value === mouse.clicked));
                    if (removedClicked > -1) {
                        mouse.clicked.setBackground("white");
                        mouse.selected.splice(removedClicked, 1);
                    } else {
                        mouse.clicked.setBackground("yellow");
                        mouse.selected.push(mouse.clicked);
                    }
                    mouse.clicked.draw();
                }
            }

            game.onmouseup = function (event) {
                mouse.click(null);
                drawGame();
            }

            game.onmousemove = function (event) {
                mouse.current = mouseCoordinates(event);
                drawGame();
                if (mouse.clicked != null) {
                    drawBackground(mouse.clicked.x, mouse.clicked.y, mouse.clicked.width, mouse.clicked.height);
                    var xOffset = mouse.clicked.x - mouse.mouseDown.x;
                    var yOffset = mouse.clicked.y - mouse.mouseDown.y;
                    dragTile = new Tile(mouse.current.x + xOffset, mouse.current.y + yOffset, mouse.clicked.value, mouse.clicked.color);
                    dragTile.draw();
                }
            }

            if (window["WebSocket"]) {
                conn = new WebSocket("ws://" + document.location.host + "/ws");
                conn.onclose = function (evt) {
                    var item = document.createElement("div");
                    item.innerHTML = "<b>Connection closed.</b>";
                    appendLog(item);
                };
                conn.onmessage = function (evt) {
                    console.log("event.data", evt.data);
                    var messages = evt.data.split('\n');
                    for (var i = 0; i < messages.length; i++) {
                        try {
                            var gameData = JSON.parse(messages[i]);
                            if (Object.hasOwn(gameData, "rack")) {
                                updateRack(gameData["rack"]);
                            } else if (Object.hasOwn(gameData, "board")) {
                                updateBoard(gameData["board"], gameData["piece"])
                            }
                            drawGame();
                        } catch (err) {
                            console.log(err);
                            var item = document.createElement("div");
                            item.innerText = messages[i];
                            appendLog(item);
                        }
                    }
                };
            } else {
                var item = document.createElement("div");
                item.innerHTML = "<b>Your browser does not support WebSockets.</b>";
                appendLog(item);
            }
        };
    </script>
    <style type="text/css">
        html,
        body {
            margin: 0;
            height: 100%;
        }

        body {
            max-height: -webkit-fill-available;
            display: flex;
            flex-direction: row;
            padding: 0.5em;
            background: gray;
        }

        #chat {
            display: flex;
            flex-direction: column;
            width: 300px;
            padding-left: 0.5em;
        }

        #log {
            flex: 1;
            width: 100%;
            background: white;
            margin: 0;
            margin-bottom: 0.5em;
            overflow: auto;
        }

        #form {
            display: flex;
            flex-direction: row;
            padding: 0;
            margin: 0;
            width: 100%;
        }

        #game {
            background: gray;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            overflow: auto;
        }
    </style>
</head>

<body>
    <canvas id="game" width="1080" height="720"></canvas>
    <div id="chat">
        <div id="log"></div>
        <form id="form">
            <input type="text" id="msg" size="36" autofocus />
            <input type="submit" value="Send" />
        </form>
    </div>
</body>

</html>